.header {
  height: 600px;
  background-image: url(9c51512420d70040e8aab73d831949b5.jpg);
  background-size: cover; }
  .header .globalnav-list {
    width: 43%;
    margin: 0 0 0 auto;
    padding-top: 65px; }
    .header .globalnav-list__content {
      display: inline-block;
      margin-left: 55px;
      font-family: 'Bitter', serif; }
      .header .globalnav-list__content a {
        color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-size: 15px;
  line-height: 2;
  position: relative; }

ul {
  margin: 0;
  padding: 0; }

a {
  color: #3583aa;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }
