.portfolio {
  width:  960px;
  margin: 30px auto 50px ;
  &-categoly {
    display: inline-block;
    width:   700px;
    margin:  0 10px;
    &__main-content {
      font-family:   'Bitter', serif;
      font-size:     36px;
      border-bottom: 1px solid #cccccc;
    }
  }
  .sidebar {
    display:        inline-block;
    width:          200px;
    margin-left: 30px;
    vertical-align: top;
    font-family: 'Bitter', serif;
    &__list {
      display:     inline-block;
      margin-left: 20px;
      &-item {
        color: #000000;
      }
    }
  }
}
