.main {
  text-align: center;
  .article {
    width: 700px;
    margin: 0 10px;
    display: inline-block;
    .main-content {
      &__item {
      }
    }
    .sub-content {
      &__item {
      }
    }
  }
  .sidebar {
    display: inline-block;
    width: 200px;
    &__list {
      display: inline-block;
    }
  }
}
