.main {
  .article {
    width: 700px;
    margin: 0 10px;
    display: inline-block;
    .main-content {
      &__item {
      }
    }
    .sub-content {
      &__item {
      }
    }
  }
  .sidebar {
    width: 200px;
    margin: 0 10px 0 30px;
    display: inline-block;
  }
}
