.main {
  margin-top: 30px;
  text-align: center;
  .article {
    display: inline-block;
    width: 700px;
    margin: 0 10px;
    text-align: left;
    .main-content {
      &__item {
      }
    }
    .sub-content {
      &__item {
      }
    }
  }
  .sidebar {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    &__list {
      display: inline-block;
      & a {
        color: #000000;
      }
    }
  }
}
