.header {
  height:           600px;
  background-image: url("images/bg-portfolio.jpg");
  background-size:  cover;
  .globalnav-list {
    width:       43%;
    margin:      0 0 0 auto;
    padding-top: 65px;
    &__content {
      display:     inline-block;
      margin-left: 55px;
      font-family: 'Bitter', serif;
      &-link {
        color: #ffffff; 
      }
    }
  }
}
