.header {
  height: 600px;
  background-image: url("images/bg-portfolio.jpg");
  background-size: cover;
  .header-nav {
    &__list {
      width: 43%;
      margin: 0 0 0 auto;
      display: flex;
      & li {
        list-style: none;
      }
      &-content {
        margin-top: 65px;
        margin-left: 55px;
        font-family: 'Bitter', serif;
        & a {
          color: #ffffff;
        }
      }
    }
  }
}
